<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    {% include 'js.html' %}
    <title>SNMP Alarm List</title>
  </head>
  <body>
    <h1>Recent alarms</h1>
    {% include 'pages.html' %}
    <table border="1" cellpadding="3" id="alarms">
    <thead bgcolor="yellow">
      <tr>
        <th>Time</th>
        <th>NE</th>
        <th>Problem</th>
        <th>Trap</th>
        <th>Varbinds</th>
        <th>Acknowledge</th>
      </tr>
    </thead>
    <tbody>
    {% for alarm in galarms  %}
    {% if alarm|length > 1 %}
      <tr>
        <td>{{ alarm.0.datetime }}</td>
        <td><span style="cursor:pointer;color:red;" onClick="expandclass('{{ forloop.counter|add:"355501" }}')">Expand {{ alarm.0.target }}...</span></td>
        <td>{{ alarm.0.problem }}</td>
        <td>{{ alarm.0.trap }}</td>
        <td width="330">
          <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.counter }}')">Expand varbinds...</span>
          <div id = "{{ forloop.counter }}" style="display:none">{{ alarm.0.varbinds }}</div>          
        </td>
        <td>{{ alarm.0.ack }}</td>
      </tr>
        {% for al in alarm|slice:"1:" %}
        <tr class="{{ forloop.parentloop.counter|add:"355501" }}" style="display:none" bgcolor="#FFFFCC">
          <td>{{ al.datetime }}</td>
          <td>{{ al.target }}</td>
          <td>{{ al.problem }}</td>
          <td>{{ al.trap }}</td>
          <td width="330">
            <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.counter|add:"501" }}')">Expand varbinds...</span>
            <div id = "{{ forloop.counter|add:"501" }}" style="display:none">{{ al.varbinds }}</div>          
          </td>
          <td>{{ al.ack }}</td>
        </tr>
        {% endfor %}
    {% else %}
      <tr>
        <td>{{ alarm.0.datetime }}</td>
        <td>{{ alarm.0.target }}</td>
        <td>{{ alarm.0.problem }}</td>
        <td>{{ alarm.0.trap }}</td>
        <td width="330">
          <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.counter }}')">Expand varbinds...</span>
          <div id = "{{ forloop.counter }}" style="display:none">{{ alarm.0.varbinds }}</div>          
        </td>
        <td>{{ alarm.0.ack }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    {% include 'pages.html' %}
  </body>
</html>
