<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    <link href="/static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    {% include 'js.html' %}
    <title>SNMP Alarm List</title>
  </head>
  <body>
    <img src="/static/img/logo.gif" align="right" alt="Logo"><br>
    <h1><a href="/" id="title">SNMP alarms/notifications</a></h1>    
    {% include 'pages.html' %}
    <table cellpadding="3" id="alarms">
    <thead bgcolor="#FFD700">
      <tr>
        <th>Time</th>
        <th>NE</th>
        <th>Problem</th>
        <th>Trap</th>
        <th>Varbinds</th>
        <th>Acknowledge</th>
      </tr>
    </thead>
    <tbody>
    {# load custom filter #}
    {% load varbinds_id %}
    {% for alarm in galarms  %}
    {% if alarm|length > 1 %}
      <tr bgcolor="#FFFACD">
        <td>{{ alarm.0.datetime }}</td>
        <td><span style="cursor:pointer;color:red;" onClick="expandclass('{{ forloop.counter|add:"10121000" }}')">Expand {{ alarm.0.target }}...</span></td>
        <td>{{ alarm.0.problem }}</td>
        <td>{{ alarm.0.trap }}</td>
        <td width="330">
          <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.counter }}')">Expand varbinds...</span>
          <div id = "{{ forloop.counter }}" style="display:none">{{ alarm.0.varbinds }}</div>          
        </td>
        <td>{{ alarm.0.ack }}</td>
      </tr>
        {% for al in alarm|slice:"1:" %}
        <tr class="{{ forloop.parentloop.counter|add:"10121000" }}" style="display:none" bgcolor="#EEE9BF">
          <td>{{ al.datetime }}</td>
          <td>{{ al.target }}</td>
          <td>{{ al.problem }}</td>
          <td>{{ al.trap }}</td>
          <td width="330">
            <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.parentloop.counter|varbinds_id:forloop.counter }}')">Expand varbinds...</span>
            <div id = "{{ forloop.parentloop.counter|varbinds_id:forloop.counter }}" style="display:none">{{ al.varbinds }}</div>          
          </td>
          <td>{{ al.ack }}</td>
        </tr>
        {% endfor %}
    {% else %}
      <tr bgcolor="#FFFACD">
        <td>{{ alarm.0.datetime }}</td>
        <td>{{ alarm.0.target }}</td>
        <td>{{ alarm.0.problem }}</td>
        <td>{{ alarm.0.trap }}</td>
        <td width="330">
          <span style="cursor:pointer;color:blue;" onClick="expandit('{{ forloop.counter }}')">Expand varbinds...</span>
          <div id = "{{ forloop.counter }}" style="display:none">{{ alarm.0.varbinds }}</div>          
        </td>
        <td>{{ alarm.0.ack }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    {% include 'pages.html' %} 
    {% include 'select_page.html' %}
    {% include 'obj_per_page_list.html' %}
  </body>
</html>
