    <div class="pagination">
    <span class="step-links">
        {% if alarms.has_previous %}
            <a href="?page={{ alarms.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            [Page <b>{{ alarms.number }}</b> of <b>{{ alarms.paginator.num_pages }}</b> (<b>{{ alarms.object_list|length }}</b> alarms per page)]
        </span>
        {% if alarms.has_next %}
            <a href="?page={{ alarms.next_page_number }}">Next</a>
        {% endif %}
    </span>
    </div>
